body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 88px;
    width: 100%;
    display: flex;
    align-items: center;

}
a{
    text-decoration: none;
    color: #333333;
}
.header__logo{
    background: #131313;
    /*width: 20%;*/
    min-width: 450px;
    /*max-width: 450px;*/
    width: auto;
    min-height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 9999;
}
.header__nav{
    height: 121px;
    display: flex;
    width: 100%;
}
.header__wrap{
    display: flex;
}
nav ul a{
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
nav ul li {
    padding: 10px 20px ;
    height: 20px;
}
nav ul li:hover a {
    text-decoration: underline;
}
.header__link{
    display: flex;
    align-items: center;

}
.header__link-el{
    margin-right: 8px;
}
.main__baner{
    position: relative;
    background: linear-gradient(180deg, #F5F5F5 0%, #E8E8E8 100%);
    height: 100vh;
}
.main__baner-title{
    max-width: 426px;
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 15%;
}
.main__baner-title p {
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    color: #1E1E1E;
    margin: 0;
}
.main__baner-title p span{
    font-weight: bold;
}

footer{
    background: #131313;
    width:100%;
    height: 227px;
}
.footer__link{
    display: flex;
    align-items: center;

}
.footer__link-el{
    margin-right: 8px;
}
.footer__subscribe p{
color: #FFFFFF;
}
.footer__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.footer__subscribe p{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.footer__subscribe button{
    width: 160px;
    height: 48px;
    box-sizing: border-box;
    border: solid 1px #ffff;
    background: #131313;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.footer__subscribe input{
    border: none;
    background: #131313;
    color: #FFFFFF;
}
.footer__form-el{
    border-bottom: 1px solid #989898;
    margin-right: 24px;
}
.footer__wrap button:hover{
    background: #FFFFFF;
    color: #131313;
}
.footer__form-wrap{
    display: flex;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.articles__title{
    color: #2F2F2F;
    font-size: 32px;
    text-align: left;
    position: relative;
}
.articles__title span{
    content: '';
    display: inline-block;
    background: #C7C7C7;
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 1px;
}
.article__el{
    width: 352px;
    position: relative;
    overflow: hidden;
    height: 390px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);

}
.article__el-title{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 20px;
}
.article__el-desc{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    font-size: 16px;
    line-height: 24px;
}
.article__el-text{
    padding: 24px 24px 16px 24px;
    position: absolute;
    bottom: 0;
    background: white;
}
.articles__wrap{
    padding-bottom: 32px;
}
.article__el-date{
    display: flex;
    justify-content: space-between;
    color: #A0A0A0;
    padding-bottom: 16px;
    padding-top: 16px;
}
.article__el:hover .article__el-desc{
    max-height: 200px;
    transition: max-height 0.5s ease-out
}
.article__img-wrap img{
    width: 100%;
}
/*.article__el-text{*/
/*    max-height: 29px;*/
/*    transition: max-height 0.3s ease-out;*/
/*}*/
/*.article__el:hover .article__el-text{*/
/*    max-height: 200px;*/
/*    transition: max-height 0.3s ease-out;*/
/*}*/
.articles__wrap{
    display: flex;
    flex-wrap: wrap;

}
.article__el{
    width: calc((100% - 32px * 2) / 3);
    margin-right: 32px;
    cursor: pointer;
}
.article__el:nth-child(3n){
    margin-right: 0;

}